{% block body %}

    <style>
    .easyWizardSteps {list-style:none;width:100%;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #ccc;margin-bottom:20px}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#000}

.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}

    </style>


    <div id="page-header" class="clearfix">
        <div class="page-header">
            <h2>Add Page</h2>
            <span class="txt">Follow the instructions to add your social media page.</span>
        </div>
    </div>

    <div align="center"><h1>Ready to go viral? Complete the forms below.</h1></div>
    <p>&nbsp;</p>


    <div align="center">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-magic"></i> Tell us about your page</h4>
            </div>
            <div class="panel-body">



                <form id="myWizard" type="get" action="" class="form-horizontal">
	<section class="step" data-step-title="Page Information">

		<div class="control-group">
			<label class="control-label" for="inputURL">Page URL</label>
			<div class="controls">
				<input type="text" id="inputURL" placeholder="" class="input-xlarge" title="URL is Required!" required >
			</div>
		</div>

	</section>
	<section class="step" data-step-title="Demographics">
		<div class="control-group">
			<div class="col-md-2"></div>
			<div class="col-md-3">
			  <label class="control-label" for="demo">Gender</label>
                                                    <select class="fancy-select form-control input-small" id="demo" >
                                                        <option value="Amsterdam">Male</option>
                                                        <option value="Washington">Female</option>
                                                    </select>
                                                </div>
					</div>

		<div class="control-group">
			<div class="col-md-4">
			  <label class="control-label" for="demo">Country</label>
                                                    <select class="fancy-select form-control input-large" id="demo" >
                                                        <option value="Amsterdam">All Countries</option>
                                                        <option value="Washington">United States</option>
                                                    </select>
                                                </div>
			</div>


		</section>






	<section class="step" data-step-title="Summary">

		<h4>Page URL: </h4>
		<p>http://yes.com</p>


		<h4>Page Demographics: </h4>
		<p>Men | All Countries</p>

<div class="col-md-4"></div>
	<div class="control-group">
			<div class="col-md-4">
			  <label class="control-label" for="points">PPC</label>
                                                    <select class="fancy-select form-control input-tiny" id="points" >
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                    </select>
                                                </div>
			</div>




	</section>
</form>


    </div>
     </div>
     </div>


</div>



        <script src="/static/dashboard/plugins/easywizard/jquery.easyWizard.js"></script>

    <script>$('#myWizard').easyWizard();</script>


{% endblock %}
