{% block body %}


    <div id="page-header" class="clearfix">
        <div class="page-header">
            <h2>Checkout</h2>
            <span class="txt">Follow the instructions below to pay with your favorite currency!</span>
        </div>
    </div>


    <div class="col-md-12">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-default" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-money"></i> Summary</h4>
            </div>
            <div class="panel-body">
<div class="col-lg-6 col-md-6"><h3>Chose your form of payment:
<p>
<div align="center">
        <p>&nbsp;</p>
    <a href=""><button class="btn btn-primary btn-alt mr5 mb10">Checkout with Coinpayments</button></a>
    <a href=""><button class="btn btn-warning btn-alt mr5 mb10">Checkout with Paypal</button></a>
        </div>

</p>
</h3></div>
    <div class="col-lg-6 col-md-6">
                                <!-- col-lg-6 start here -->
                                <div class="panel panel-default plain toggle panelClose panelRefresh">
                                    <!-- Start .panel -->
                                    <div class="panel-heading white-bg">
                                        <h4 class="panel-title">Order Details</h4>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="per40">Membership Type</th>
                                                    <th class="per40">Points</th>
                                                    <th class="per15">Cost</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <td>Free</td>
                                                    <td>120000</td>
                                                    <td>$20</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End .panel -->
                            </div>
                            <!-- col-lg-6 end here -->




            </div>

        </div>
    </div>

<div align="center">
                <h3>Chose your payment type to be re-directed to the payment-gateway. </h3>
                <h3>Once your order is complete your purchase will be automatically added to your account</h3>
</div>

         <div class="col-lg-12 col-md-6">
                                <!-- col-lg-6 start here -->
                                <div class="panel panel-default">
                                    <!-- Start .panel -->
                                    <div class="panel-heading white-bg">
                                        <h4 class="panel-title">Purchase History</h4>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="per5">
                                                        #
                                                    </th>
                                                    <th class="per40">Type</th>
                                                    <th class="per15">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>VIP Membership</td>
                                                    <td>$20</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>20000 VP</td>
                                                    <td>$25</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End .panel -->
                            </div>
                            <!-- col-lg-6 end here -->


{% endblock %}