{% block body %}




    <div id="page-header" class="clearfix">
        <div class="page-header">
            <h2>Earn Points</h2>
            <span class="txt">Use Social Media to earn VIP Points!</span>
        </div>
    </div>



    {% if earn == 'fb' %}


        {#<div class="col-md-4" > </div>#}
        <div class="col-md-12  sortable-layout ui-sortable">
            <!-- Start col-lg- 3 -->
            <div class="panel panel-primary" id="dyn_20">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-facebook"></i> Facebook</h4>
                </div>
                <div class="panel-body">


                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default disabled" role="button">Likes</a>
                        <a class="btn btn-default" role="button">Shares</a>
                        <a class="btn btn-default" role="button">Follow</a>
                    </div>
                    <p>&nbsp;</p>


                <!--begin jinja content -->
 {% for content in pages %}
                {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>


    {% elif earn == 'g1' %}




        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-google-plus"></i> Google Plus</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                 {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>


    {% elif earn == 'ld' %}



        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-linkedin"></i> Linkedin</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                 {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>



    {% elif earn == 'ms' %}



        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-myspace"></i> Myspace</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                 {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>



    {% elif earn == 'rb' %}



        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-headphones"></i> Reverbnation</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>



    {% elif earn == 'sc' %}




        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-soundcloud"></i> Soundcloud</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>


    {% elif earn == 'su' %}



        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-stumbleupon"></i> Stumbleupon</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>



    {% elif earn == 'te' %}




        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-car"></i> Traffic Exchange</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>


    {% elif earn == 'tw' %}



        <div class="col-md-12  sortable-layout ui-sortable">
        <!-- Start col-lg- 3 -->
        <div class="panel panel-primary" id="dyn_20">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-twitter"></i> Twitter</h4>
            </div>
            <div class="panel-body">


                <!--begin jinja content -->


             {% for content in pages %}


                 {% if content.type == earn and content.status == 1 %}

                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.title }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>

                    {% endif %}

{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}

            </div>

        </div>

 <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>






    {% elif earn == 'yt' %}

        {#<div class="col-md-4" > </div>#}
        <div class="col-md-12  sortable-layout ui-sortable">
            <!-- Start col-lg- 3 -->
            <div class="panel panel-primary" id="dyn_20">
                <!-- Start .panel -->
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-youtube"></i> Youtube</h4>
                </div>
                <div class="panel-body">


                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default disabled" role="button">Favorites</a>
                        <a class="btn btn-default" role="button">Likes</a>
                        <a class="btn btn-default" role="button">Views</a>
                         <a class="btn btn-default" role="button">Subscribers</a>
                    </div>
                    <p>&nbsp;</p>


                      <!--begin jinja content -->

                {% for content in pages %}


                    {% if content.type == earn %}
                    <div class="col-md-2  sortable-layout ui-sortable">
                        <div class="panel panel-default plain" id="dyn_0">
                            <!-- Start .panel -->
                            <div class="panel-heading">
                                <h4 class="panel-title"><strong>{{ content.url }}</strong>
                                    <small>{{ content.points }}</small>
                                </h4>

                                <div class="panel-body">

                                    img goes here

                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>


                    </div>
                    {% endif %}
{% endfor %}
                {% if types[0] %}
                {% if earn not in types[0].type %}>

                    <div align="center"><h3>No points to earn yet, check back later!</h3></div>

                {% endif %}
                    {% else %}
                      <div align="center"><h3>No points to earn yet, check back later!</h3></div>
                    {% endif %}


            </div>

        </div>


         <div align="center">
     <a href="/addpage" data-ajax="1">
         <button class="btn btn-success">Add your page here</button>
     </a>
 </div>

    {% endif %}





{% endblock %}