{% extends 'dashboard/layout.html' %}
{% block body %}

 <div id="page-header" class="clearfix">
        <div class="page-header">
            <h2>Dashboard</h2>
            <span class="txt"></span>
        </div>
    </div>


           <!-- Start .row -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- col-lg-4 start here -->
                                <div class="panel panel-default plain">
                                    <!-- Start .panel -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title bb">Profile details</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row profile">
                                            <!-- Start .row -->
                                            <div class="col-md-4">
                                                <div class="profile-avatar">
                                                    <img src="/static/dashboard/img/avatars/128.jpg" alt="Avatar">

                                    </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="profile-name">
                                                    <h3>Jonathan Smith</h3>
                                                    <p class="balance">
                                                        VIP Points: <span>146</span>

                                                    </p>
                                                    <a href="/buy" data-ajax="1"><button class="btn btn-success btn-alt">Buy VIP Points</button></a>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="contact-info bt">
                                                    <div class="row">
                                                        <!-- Start .row -->
                                                        <div class="col-md-3"></div>
                                                        <div class="col-md-4">
                                                            <dl class="mt20">
                                                                <div align="center">
                          <div class="aff_url_block">Affiliate URL		<input class="text big" type="text" value="https://theviralexchange.com/?ref=162" size="40" onclick="this.select()" readonly="true" style="margin-bottom:10px">
			<a href="#" onclick="open_popup('http://www.facebook.com/sharer/sharer.php?u=https://theviralexchange.com/?ref=162','Facebook Share',600,300); return false;"><div class="share_button">Share on Facebook</div></a> <a href="#" onclick="open_popup('http://twitter.com/intent/tweet?text=Get+free+Twitter+followers+for+your+profile:+https://theviralexchange.com/?ref=162','Twitter Share',520,280); return false;"><div class="share_button">Share on Twitter</div></a>
		</div></div>
                                                            </dl>
                                                        </div>

                                                    </div>
                                                    <!-- End .row -->
                                                </div>
                                            </div>

                                        </div>
                                        <!-- End .row -->
                                    </div>
                                </div>
                                <!-- End .panel -->

                                <!-- End .panel -->
                            </div>
                            <!-- col-lg-4 end here -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <!-- col-lg-4 start here -->
                                  <!-- col-lg-4 start here -->
                                <div class="panel panel-default plain">
                                    <!-- Start .panel -->
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Edit User</h4>
                                    </div>
                                    <div class="panel-body">
                                            <form class="form-horizontal group-border stripped" role="form">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label" for="">Email Address</label>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" id="email" name="email">
                                                    </div>
                                                </div>

                                                <!-- End .form-group  -->
                                                <div class="form-group form-group-vertical">
                                                    <label class="col-lg-3 control-label" for="">Change password</label>
                                                    <div class="col-lg-9">
                                                        <input type="password" class="form-control" id="password" name="password">
                                                        <input type="password" class="form-control" id="password1" name="password1" placeholder="Repeat your password">
                                                    </div>
                                                </div>
                                                <!-- End .form-group  -->
                                                <div class="form-group">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-2">
                                                        <p>&nbsp;</p>
                                                        <a href="#" class="btn btn-primary btn-alt" type="subimt">Save Changes</a>
                                                    </div>
                                                </div>
                                                <!-- End .form-group  -->
                                            </form>
                                        </div>

                                        </div>

                                                </div>
                                                <!-- End .form-group  -->




      <div class="col-lg-12 col-md-6">
                                <!-- col-lg-6 start here -->
                                <div class="panel panel-default">
                                    <!-- Start .panel -->
                                    <div class="panel-heading white-bg">
                                        <h4 class="panel-title">Account History</h4>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="per5">
                                                        #
                                                    </th>
                                                    <th class="per40">Type</th>
                                                    <th class="per40">Currency</th>
                                                    <th class="per15">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>Buy</td>
                                                    <td>BTC</td>
                                                    <td>50000 VP</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>Withdraw</td>
                                                    <td>Blitzcoin</td>
                                                    <td>120000 VP</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        3
                                                    </td>
                                                    <td>Withdraw</td>
                                                    <td>NXT</td>
                                                    <td>300000 VP</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        4
                                                    </td>
                                                    <td>Buy</td>
                                                    <td>USD</td>
                                                    <td>120000 VP</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End .panel -->
                            </div>
                            <!-- col-lg-6 end here -->


                              <script>
{#          console.log('test...');#}
          $("a[data-ajax=1]").click(function () {

              var url = $(this).attr('href');
{#              console.log('ajax url: '  + url);#}
              $.get(url, function (data) {
                    $("#ajax-content").html(data);
              });

              return false;
          });
                                  </script>

{% endblock %}