{% if type == 'fb' %}

	<label class="control-label" for="inputURL">Page URL</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="URL is Required!" required >
			</div>

{% elif type == 'g1' %}

	<label class="control-label" for="inputURL">Page URL</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="URL is Required!" required >
			</div>

{% elif type == 'ld' %}

	<label class="control-label" for="inputURL">Page URL</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="URL is Required!" required >
			</div>

{% elif type == 'ms' %}

	<label class="control-label" for="inputURL">Username</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="Username is Required!" required >
			</div>

{% elif type == 'rb' %}

	<label class="control-label" for="inputURL">Page URL</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="URL is Required!" required >
			</div>

{% elif type == 'sc' %}

	<label class="control-label" for="inputURL">Username</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="Username is Required!" required >
			</div>


{% elif type == 'su' %}

	<label class="control-label" for="inputURL">Username</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="Username is Required!" required >
			</div>

{% elif type == 'te' %}

	<label class="control-label" for="inputURL">Username</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="Username is Required!" required >
			</div>

{% elif type == 'tu' %}

	<label class="control-label" for="inputURL">Username</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="Username is Required!" required >
			</div>

{% elif type == 'tw' %}
	<label class="control-label" for="inputURL">Username</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="Username is Required!" required >
			</div>

{% elif type == 'yt' %}


	<label class="control-label" for="inputURL">Username</label>
			<div class="controls">
				<input type="text" id="inputURL" name="inputURL" placeholder="" class="input-xlarge" title="Username is Required!" required >
			</div>

{% endif %}