 <div id="page-header" class="clearfix">
        <div class="page-header">
            <h2>Become a VIP Member</h2>
            <span class="txt">Learn the Advantages and Start Saving Today!</span>
        </div>
    </div>



 <div align="center">

     <h1>Being a VIP has it's advantages.</h1>
     <p>&nbsp;</p>

 </div>

<div class="row">
    <!-- Start .row -->

<div class="col-lg-3 col-md-3 col-sm-6">
    </div>

                                        <div class="col-lg-3 col-md-3 col-sm-6">
        <!-- col-lg-3 start here -->
        <div class="pricing-table green">
            <div class="pricing-header">
                <h3>Free</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 10 Points per Click</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> 20 Daily Bonus Poitns</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> 2 Demographic changes</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> 100 daily clicks</li>
            </ul>
            <div class="pricing-bottom clearfix">
                <div class="price">
                    <a href="#" class="btn btn-default btn-lg btn-block">Free!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- col-lg-3 end here -->

    <!-- col-lg-3 end here -->
    <div class="col-lg-3 col-md-3 col-sm-6">
        <!-- col-lg-3 start here -->
        <div class="pricing-table blue">
            <div class="pricing-header">
                <h3>VIP</h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="glyphicon glyphicon-transfer s24"></i> 10 Points per Click</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-floppy-disk s24"></i> 20 Daily Bonus Poitns</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-gift s24"></i> 2 Demographic changes</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-retweet s24"></i> 100 daily clicks</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-globe s24"></i> Country & Gender clicks</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Page Priority</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> Hide Site Ads</li>
                <li class="list-group-item"><i class="glyphicon glyphicon-search s24"></i> No Fees</li>
            </ul>
            <div class="pricing-bottom clearfix">
                <div class="price">
                    <span>$20</span>
                    / month
                    <a href="/checkout" class="btn btn-primary btn-lg btn-block " data-ajax="1">Order now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- col-lg-3 end here -->





                                    </div>



     <script>
        {#          console.log('test...');#}
        $("a[data-ajax=1]").click(function () {

            var url = $(this).attr('href');
            {#              console.log('ajax url: '  + url);#}
            $.get(url, function (data) {
                $("#ajax-content").html(data);
            });

            return false;
        });
         </script>